<strong>Olá {{ provider_name }},</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user_name }}<br />
  <strong>Data/Hora: </strong> {{ date }}<br />
</p>
